#header_nav{
          width: 103%;
          margin-left: -48px;
           
}

ul{
display: flex;
list-style: none;
}

.nav > li{
         width: 33%;
         background-color: black;
         text-align: center;
         padding: 10px;
}

.nav li a{
         color: red;
         text-decoration: none;
         font-size: 20px;
         font-family: Roboto;
}



.nav li a:hover{
               color: white ;              

}